page-tickets {

}
ion-card{
  border-color: black;
}
.cl{
  display: none;
}
#select1{
  background-color: #f8f8f8;
}
#fixed{

  left:25px;
  top:25px;
  font-size: 8px;
}
select:hover{
  color: darkblue;
  cursor: pointer;
}
ion-content{
  padding-right: 15px;
  padding-left: 15px;
}